.start-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start-page-header {
    width: 50%;
    height: 10vh;
    margin: 15vh auto 5vh;
}

.start-page-block {
    width: 70vh;
    height: 20vh;
    border: 1vh solid #fff;
    border-radius: 2vh;
    font-size: 3vh;
    color: rgb(255 204 0);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}