.start-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start-page-header {
    width: 35%;
    height: 10vh;
    margin: 12vh auto 7vh;
}

.start-page-block {
    width: 70vh;
    height: 20vh;
    border: 1vh solid #fff;
    border-radius: 2vh;
    font-size: 3vh;
    color: rgb(255 204 0);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    cursor: pointer;
    text-transform: uppercase;
}

@media (max-width: 1024px) {
    .start-page-header {
        width: 50%;
    }
}

@media (max-width: 850px) {
    .start-page-block {
        width: 500px;
        height: 143px;
        font-size: 20px;
    }
}

@media (max-width: 600px) {
    .start-page-block {
        width: 400px;
        height: 114px;
        border: 0.8vh solid #fff;
        border-radius: 1vh;
        font-size: 15px;
    }
}

@media (max-width: 450px) {
    .start-page-block {
        width: 140px;
        height: 57px;
        border: 0.5vh solid #fff;
    }
    .start-page-header {
        margin: 17vh auto 10vh;
    }
}