.flags-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flags-page-header {
    width: 50%;
    height: 10vh;
    margin: 8vh auto 0;
}

.flags-selection {
    width: 100%;
    max-width: 850px;
    height: 100%;
    max-height: 550px;
    background-color: rgb(255 204 0);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 1vh;
}

.flags-variant {
    width: 35%;
    max-width: 300px;
    height: 35%;
    max-height: 180px;
    margin: 0.5vh;
    border: 1px solid rgb(100, 100, 100);
    position: relative;
    pointer-events: none;
}

.flags-variant.enable {
    cursor: pointer;
    pointer-events: all;
}

.flags-color {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .7;
}

.icon {
    position: absolute;
    width: 7vh;
    height: 7vh;
    right: 1vh;
    bottom: 1vh;
    border: 1px solid rgb(100, 100, 100);
    border-radius: 2vh;
}

.question-counter-flags {
    display: flex;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    font-size: 2vh;
    height: 2vh;
    padding-bottom: 2vh;
    color: #fff;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vh;
    height: 7vh;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 2.5vh;
    color: rgb(56 84 85);
    background-color: rgb(255 204 0);
    border-radius: 1vh;
    margin-top: 2vh;
    cursor: pointer;
}

@media (max-width: 850px) {
    .flags-variant {
        width: 250px;
        height: 150px;
        margin: 20px;
    }
    .flags-selection {
        border-radius: 0;
    }
}

@media (max-width: 600px) {
    .flags-variant {
        width: 180px;
        height: 108px;
    }
    .flags-selection {
        width: 100%;
        height: 100%;
        min-height: 500px;
        border-radius: 0;
    }
}